# Ambientes virtuais
.venv/
venv/

# Bytecode e caches Python
__pycache__/
*.py[cod]
*$py.class

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/

# Arquivos temporários brutos
data/raw/*.zip
data/raw/uci/
